---
layout: archive
title: "Teaching"
header:
  overlay_image: https://jgnunol.github.io/images/holdingbalance.jpg
  caption: "Woman holding a balance - Vermeer"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


{% for post in site.teaching reversed %}
	{% if post.type == 'Graduate' %}
		{% include archive-single.html %}
	{% endif%}
{% endfor %}



{% for post in site.teaching reversed %}
	{% if post.type == 'Undergraduate' %}
		{% include archive-single.html %}
	{% endif%}
{% endfor %}
